@import url(reset.css);

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/* Mobile 크기 0~768 */
@media screen and (max-width: 768px) {

}

/* PC 크기 769~최대 */
@media screen and (min-width: 769px) {
/* layout */
body {width: 100%; height: 100%;}
a{color: #333; text-decoration: none;}
a:hover{color: #666;}

#header{position: fixed;  z-index: 50; width: 100%; height: 90px; left: 0; top: 0; background: linear-gradient(180deg, rgba(48, 48, 48, 0.70) 0%, rgba(48, 48, 48, 0.14) 100%);
    backdrop-filter: blur(5px); box-sizing: border-box;}
    .header_wrap{position: relative; width: 90%; height: 90px; margin: 0 auto;}

#container{position: relative; left: 0; top: 0; width: 100%; height: 100%;}
#content1{position: relative; width: 100%; height: 100%; background: #FFFCD9 url(../images/paul_bassett_bg.jpg)no-repeat 50% 50%; background-size: cover;}
#content1::after{content: ""; display: block; position: absolute; left: 0; top: 0; width: 60%; height: 100%; background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 80%); z-index: 1;}
    .content1_inner{position: relative; top: 230px; width: 1420px; margin: 0 auto; z-index: 10; font-family: 'GmarketSansMedium'; }
#content2{position: relative; background: #2c1f21; width: 100%; height: 100%;}
    .content2_inner{position: relative; width: 1320px;  margin: 0 auto; top: 150px;}
#content3{width: 100%; height: 100%; background: #b1c3df; background: url(../images/concept_bg.jpg)no-repeat 0 -5%; background-size: 100%;}
    .content3_inner{position: relative; width: 1320px; height: 100%; margin: 0 auto; padding-top: 550px; box-sizing: border-box;}
    .content3_inner::after{content: ""; display: block; clear: both;}
#content4{width: 100%; height: 100%; background: url(../images/paul_04_bg.png)no-repeat 50% 50%;}
    .content4_inner{position: relative; width: 1420px; height: 100%; margin: 0 auto; overflow: hidden;}   
#content5{width: 100%; height: 100%; background: url(../images/paul_05_bg.jpg)no-repeat 50% 50%;}
    .content5_inner{position: relative; width: 1420px; height: 100%; margin: 0 auto; overflow: hidden;}   
#content6{width: 100%; height: 100%; background: url(../images/paul_06_bg.jpg)no-repeat 50% 50%;}
    .content6_inner{position: relative; width: 1420px; height: 100%; margin: 0 auto; overflow: hidden;}   


/* header */
div.mobBtn{display: none;}
div.mob{display: none;}

.header_wrap > h1 > a{display: block; position: absolute; width: 100px; height: 90px; background: url(../images/logo_w.png) no-repeat center; left: 0; top: 0; background-size: contain; text-indent: -9999px; overflow: hidden;}
.header_wrap > ul{position: absolute; right: 0; top: 0; display: flex; justify-content: space-between;}
.header_wrap > ul > li{flex: 1;}
.header_wrap > ul > li > a{line-height: 90px; color: #fff; margin-left: 22px; padding: 0 30px; font-family: 'Montserrat', sans-serif;  font-size: 16px; font-style: normal; font-weight: 500; letter-spacing: 0.6px; transition: all 0.3s linear 0s;}
.header_wrap > ul > li:last-child > a{padding-right: 0;}
.header_wrap > ul > li > a:hover{color: #bbb;}

/* container */
.content1_inner > h1 {position: relative; width: 530px; height: 118px; background: url(../images/paul_bassett_logo.png)no-repeat 0 0; background-size: 80%; text-indent: -9999px; overflow: hidden; margin-bottom: 20px;}
.content1_inner > p{color: #e7e7e7; font-weight: 300;}

.content1_inner > dl{display: inline-block; margin-top: 25px; font-family: 'GmarketSansMedium'; height: 30px; margin-right: 53px;}
.content1_inner > dl > dt{float: left; color: #ffffff; font-size: 18px; line-height: 30px; font-weight: 700; position: relative; margin-right: 20px; letter-spacing: 0.4px;}
.content1_inner > dl > dt::after{content: ""; display: block; position: absolute; left: 100%; top: 43%; width: 1px; height: 18px; transform: translateY(-50%); margin: 0 20px; background: #f1f1f1;line-height: 23px;}
.content1_inner > dl > dd{float: left; font-size: 15px; margin-left: 20px; line-height: 30px; font-weight: 300px; color: #ececec;}

.content1_inner > dl:last-of-type > dd{background: url(../images/tool_icon.png)no-repeat 0 0; text-indent: -9999px; overflow: hidden; width: 20px; height: 20px; margin-top: 2px; margin-left: 10px;}
.content1_inner > dl:last-of-type > dd:nth-of-type(1){margin-left: 20px;}
.content1_inner > dl:last-of-type > dd:nth-of-type(2){background-position-x: -40px;}

.content1_inner > a {display: block; width: 180px; height: 55px; line-height: 55px; background: #F36; border-radius: 50px; color: #fff; font-family: 'Montserrat', sans-serif; font-size: 15px;  font-weight: 700; text-align: center; transition: all 0.3s; margin-top: 30px; border-radius: 50px; box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.30);}
.content1_inner  > a:hover {transform: scale(1.05); background: rgb(241, 4, 63); color: #fff;}



/* content2 */
.content2_inner > h2{position: absolute; left: 0; top: 0; width: 200px; color: #FFF;
font-family: 'Montserrat';   font-size: 30px; font-weight: 600; line-height: normal;
letter-spacing: 0.6px; background: ;}
.content2_inner > ul{width: 100%; height: 765px; display: flex; justify-content: space-between;}
.content2_inner > ul > li{text-indent: -9999px; overflow: hidden;}
.content2_inner > ul > li:nth-child(1){background: url(../images/paul_grid_pc.png)no-repeat 0 0; width: 697px; margin-top: 90px;}
.content2_inner > ul > li:nth-child(2){background: url(../images/paul_grid_tablet.png)no-repeat 0 0; width: 280px; margin-top: 10px;}
.content2_inner > ul > li:nth-child(3){background: url(../images/paul_grid_mobile.png)no-repeat 0 0; width: 205px; margin-top: 90px;}


/* content3 */
.content3_inner > dl{position: relative; top: 30%; transform: translateY(-50%); width: 50%; margin-top: 50px; float: left;}
.content3_inner > dl > dt{font-size: 40px; font-weight: 600; color: #330000; font-family: 'Montserrat', sans-serif; margin-bottom: 23px;}
.content3_inner > dl > dd{font-family: 'GmarketSansMedium'; font-size: 16px; font-weight: 200; color: #695D5D; line-height: 1.6;}
.content3_inner > img{position: relative; top: 40%; transform: translateY(-50%); right: 50px; float: right; width: 30%;}

/* content4 */
.content4_inner > dl:first-of-type{position: absolute; left: 140px; top: 250px; z-index: 10; color: #fff; font-family: 'Montserrat', sans-serif;}
.content4_inner > dl:first-of-type > dt{position: relative; letter-spacing: -0.9px; font-size: 30px; font-weight: 700; margin-bottom: 12px;}
.content4_inner > dl:first-of-type > dt::after{content: ""; display: block; position: absolute; right: -125px; top: 50%; transform: translateY(-50%); width: 285px; height: 1px; background: #ffffff96; z-index: 10;}
.content4_inner > dl:first-of-type > dd{font-size: 16px; line-height: 1.5; width: 400px; color: #e6e6e6;}

.content4_inner > dl:last-of-type{position: absolute; left: 165px; top: 600px; z-index: 10; color: #fff;  font-family: 'Montserrat', sans-serif;}
.content4_inner >dl:last-of-type > dt{position: relative; letter-spacing: -0.9px; font-size: 30px; font-weight: 700; margin-bottom: 12px;}
.content4_inner > dl:last-of-type > dt::after{content: ""; display: block;  position: absolute; right: -110px; top: 50%; transform: translateY(-50%); width: 380px; height: 1px;background: #ffffff96; z-index: 10;}
.content4_inner >dl:last-of-type > dd{font-size: 16px; line-height: 1.6; width: 390px; color: #e6e6e6; letter-spacing: -0.2px;}

.content4_inner > .con4_img {position: absolute; right: 50px; top: 120px; width: 50%;}
.content4_inner > .con4_img > img{width: 100%;}

/* content5 */
.content5_inner > dl:first-of-type{position: absolute; right: 90px; top: 270px; z-index: 10; color: #fff; font-family: 'Montserrat', sans-serif;}
.content5_inner > dl:first-of-type > dt{position: relative; letter-spacing: -0.9px; font-size: 30px; font-weight: 700; margin-bottom: 12px;}
.content5_inner > dl:first-of-type > dt::after{content: ""; display: block; position: absolute; left: -170px; top: 50%; transform: translateY(-50%); width: 150px; height: 1px; background: #ffffff96; z-index: 10;}
.content5_inner > dl:first-of-type > dd{font-size: 16px; line-height: 1.5; width: 350px; color: #e6e6e6;}

.content5_inner > dl:last-of-type{position: absolute; right: 130px; top: 640px; z-index: 10; color: #fff;  font-family: 'Montserrat', sans-serif;}
.content5_inner >dl:last-of-type > dt{position: relative; letter-spacing: -0.9px; font-size: 30px; font-weight: 700; margin-bottom: 12px;}
.content5_inner > dl:last-of-type > dt::after{content: ""; display: block;  position: absolute;  left: -170px; top: 50%; transform: translateY(-50%); width: 150px; height: 1px; background: #ffffff96; z-index: 10;}
.content5_inner >dl:last-of-type > dd{font-size: 16px; line-height: 1.6; width: 350px; color: #e6e6e6; letter-spacing: -0.2px;}

.content5_inner > .con5_img_1 {position: absolute; left: 30px; top: -10px; width: 53%; z-index: 0;}
.content5_inner > .con5_img_2 {position: absolute; left: 0; top: 120px; width: 58%; z-index: 5;}
.content5_inner > .con5_img_1 > img{position: absolute; width: 100%;}
.content5_inner > .con5_img_2 > img{position: absolute; width: 100%;}


/* content6 */
.content6_inner > dl:first-of-type{position: absolute; left: 140px; top: 250px; z-index: 10; color: #fff; font-family: 'Montserrat', sans-serif;}
.content6_inner > dl:first-of-type > dt{position: relative; letter-spacing: -0.9px; font-size: 30px; font-weight: 700; margin-bottom: 12px;}
.content6_inner > dl:first-of-type > dt::after{content: ""; display: block; position: absolute; right: -175px; top: 50%; transform: translateY(-50%); width:360px; height: 1px; background: #ffffff96; z-index: 10;}
.content6_inner > dl:first-of-type > dd{font-size: 16px; line-height: 1.5; width: 310px; color: #e6e6e6;}

.content6_inner > dl:last-of-type{position: absolute; left: 165px; top: 600px; z-index: 10; color: #fff;  font-family: 'Montserrat', sans-serif;}
.content6_inner >dl:last-of-type > dt{position: relative; letter-spacing: -0.9px; font-size: 30px; font-weight: 700; margin-bottom: 12px;}
.content6_inner > dl:last-of-type > dt::after{content: ""; display: block;  position: absolute; right: -220px; top: 50%; transform: translateY(-50%); width: 380px; height: 1px; background: #ffffff96; z-index: 10;}
.content6_inner >dl:last-of-type > dd{font-size: 16px; line-height: 1.6; width: 310px; color: #e6e6e6; letter-spacing: -0.2px;}

.content6_inner > .con6_img_1 {position: absolute; right: 0px; top: 0px; width: 52%;}
.content6_inner > .con6_img_2 {position: absolute; right: 20px; top: 105px; width: 55%; z-index: 5;}
.content6_inner > .con6_img_1 > img{position: absolute; width: 100%;}
.content6_inner > .con6_img_2 > img{position: absolute; width: 100%;}

}